<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}" />
    <link th:href="@{/css/body.css}" rel="stylesheet" />
</head>
<body>
    <header th:replace="~{layout/plantilla4 :: header}" />
    <section th:replace="~{layout/plantilla :: main}" />
    <header th:replace="~{layout/plantilla3 :: header}" />
    <section th:replace="~{carrito/fragmentos :: listadoProductos}"/>
    <section th:replace="~{layout/plantilla :: ajustes}" />
</body>
</html>
